.board-wrapper {
  height: 100vh;  
  width: 60%;
  .main_img_container {
    width: 60%;
    height: 80%;
    background: url(//landingsite.italent.link/Content/img/main-bg3.png) no-repeat;
    background-position: 34% 52%;
    background-size: 80%;
  }
}
