.container {
  display: flex;
  flex-column: row;
  .left_container {
    width: 60vw;
    height: 100vh;
  } 
  .right_container {
    position: relative;
    right: -10vw;
    top: calc(25vh);
    height: 50vh;
    .logo_wrapper {
      text-align: center; 
    }
    .login_input_box {
      margin: 0 auto;
    }
    .logo-title {
      min-width: 150px;
      margin: 10px auto;
      color: #8f9ca6;
      text-align: center;
      font-family: PingFangSC-Regular;
      font-size: 14px;
    }
    .login_input_box {
      width: 340px;
    }
  }
  &:after {
    content: "";
    clear: both;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
